#repos .repo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 2rem;
}

#repos .repo-grid .repo-item {
  padding: 1.5rem;
  border-radius: 10px;
}

@media (max-width: 768px) {
  #repos .repo-grid {
    grid-template-columns: 1fr;
    margin: 1rem;
  }
}
