/* About */
#about {
  background: url("../../assets/img/blake-connally-435076-unsplash.jpg")
    no-repeat center center/cover;
  color: #fff;
  height: 100vh;
}

#about .about-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#about .about-content .links {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .about-content .links li {
  margin: 0 1rem;
  list-style: none;
}

#about .about-content .arrow {
  margin-bottom: 4rem;
  cursor: pointer;
}
